* {
  border: none;
  border-radius: 15px;
  min-height: 0;
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 10px;
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.5;
}
#window label {
    background-color: red;
    font-weight: bold;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 10px;
  margin: 6px 3px;
  border-radius: 15px;
  color: #89b4fa;
  background: #09090F;
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    font-weight: bolder;
}

#workspaces button.active {
   color: #000; 
    padding-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
    padding-left: 10px;
    padding-bottom: 3px;
    background: rgb(203,166,247);
        background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); 
    background-size: 400% 400%;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: #1e1e2e;
 background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}
#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#pulseaudio.microphone,
#custom-spotify,
#network,
#clock,
#custom-notifications,
#custom-logo,
#cpu,
#tray {
  border-radius: 15px;
  margin: 6px 3px;
  padding: 6px 12px;
  background: #09090F;
}
#cpu {
 background:#09090F;
  color:  #d3869b;
  font-weight: bolder;
}
#custom-power {
    background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); 
    background-size: 400% 400%;
    color: black;
}

#custom-logo {
  color: #1e1e2e;
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 15px 0px 0px 15px;
}

#memory {
  background-color: #09090F;
  color:  #d3869b;
  font-weight: bolder;
}
#battery {
  background-color: #09090F;
  color:  #d3869b;
  font-weight: bolder;
}
@keyframes blink {
  to {
    background-color: #f38ba8;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  background-color: #09090F;
}

#backlight {
  background-color: #09090F;
}

#pulseaudio {
  background-color: #09090F;
  color:  #d3869b;
  font-weight: bolder;
}
#pulseaudio.microphone {
  background-color: #09090F;
  color:  #d3869b;
  font-weight: bolder;
}
#custom-spotify {
    background-color: #09090F;
    color: #89b4fa;
    font-weight:bolder;
}
#custom-notifications {
    background-color: #09090F;
    color: #89b4fa;
    font-weight:bolder;
}

#network {
  background-color: #09090F;
  padding-right: 17px;
  color:  #d3869b;
  font-weight: bolder;
  color:  #d3869b;
  font-weight: bolder;
}

#clock {
    background: rgb(205,214,244);
    background: linear-gradient(118deg, rgba(205,214,244,1) 5%, rgba(243,139,168,1) 5%, rgba(243,139,168,1) 20%, rgba(205,214,244,1) 20%, rgba(205,214,244,1) 40%, rgba(243,139,168,1) 40%, rgba(243,139,168,1) 60%, rgba(205,214,244,1) 60%, rgba(205,214,244,1) 80%, rgba(243,139,168,1) 80%, rgba(243,139,168,1) 95%, rgba(205,214,244,1) 95%);
    background-size: 200% 300%;

    animation: gradient_f_nh 4s linear infinite;
    color: #000 ;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
    
    font-size: 11px;
    padding-top: 5px;
    padding-right: 10px;
    font-weight: bolder; 
    padding-left: 10px;
}

#custom-power {
  background-color: #09090F;
  color:  #d3869b;
  font-weight: bolder;
}


tooltip {
border-radius: 8px;
padding: 15px;
background-color: #131822;
}

tooltip label {
padding: 5px;
background-color: #131822;
}
@keyframes gradient {
        0% {
                background-position: 0% 50%;
        }
        50% {
                background-position: 100% 30%;
        }
        100% {
                background-position: 0% 50%;
        }
}

@keyframes gradient_f {
        0% {
	       background-position: 0% 200%;
        }
    50% {
        background-position: 200% 0%;
    }
        100% {
                background-position: 400% 200%;
        }
}

@keyframes gradient_f_nh {
        0% {
                background-position: 0% 200%;
        }
        100% {
                background-position: 200% 200%;
        }
}
